.App {
  text-align: center;
}
svg{
  color: white;
}


h5{
  color: white !important;
  font-weight: bold !important;
  display: inline-block;
  margin-left: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.line{
  width: 100%;
  height: 8px;
  background: #4caf50;
}

body{
  background-image: url("./img/background.jpg");
  background-size:cover;
}

@media only screen and (max-device-width: 480px) {
    .fullContainer {
        width: 60%;
    }
}

.fullContainer {
    background-color: #ffffff;
    width: 33%;
    height: max-content;
    position: absolute;
    top: 25%;
    left: 33%;
    border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
}


.headerForm{
  border-radius: 11px 11px 0px 0px;
  -moz-border-radius: 11px 11px 0px 0px;
  -webkit-border-radius: 11px 11px 0px 0px;
  border: 2px solid #000000;
  width: 100%;
  height: max-content;
  background-color: #4caf50;
  text-align: center;
  vertical-align: middle;
  padding: 5%;
}

.formContainer{
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}

.buttonSubmitForm{
  margin-top: 10px;
  width: 100%;
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
  height: 6vh;
  cursor: not-allowed;
}

.titles{
  float: left;
  margin-left: 10px;
}

.alert{
  width: 100%;
  height: 3%;
  margin-top: 2%;
  margin-bottom: 2%;

}

.errorContainer{
  margin-top: 15%;
}

#forgot{
  color: #4caf50;
  float: left;
  margin-left: 10px;
  cursor: pointer;
}
#signUp{
  color: #4caf50;
  float:right;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
}
.optionsContainer{
  margin-top: 2vh;
}
p>span{
  color: black;
  display: inline-block;
}

.modal-title{
  color: black !important;
}



